html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
	margin: 0;
}

.wrapper {
	/*max-width: 950px;*/
	padding: 20px ;
	/*margin: auto;*/
}

/*Works Page*/

.works:after { /* Clearfix */
  display: table;
  clear: both;
  content: '';
}

.wide {
	clear: both;
}

.item {
	margin: 10px;
	float: left;
	overflow: hidden;
}
.item > img {
	display: block;
	width: 100%;
	height: auto;
	object-fit: cover;
}	
.works {
	width: 400px;
	margin: auto;
}

.works .tall,.wide,.small,.large {
	width: 400px;
}

@media (min-width: 660px){
	.works {
		width: 620px;
	}
	.works .tall,.small {
		width: 290px;
	}
	.works .wide,.large {
		width: 600px;
	}

	.works .wide,.small {
		height: 280px;
	}
	.works .tall,.large {
		height: 580px;
	}
}

@media (min-width: 960px){
	.works {
		width: 920px;
	}
	.works .tall,.small {
		width: 210px;
	}
	.works .wide,.large {
		width: 440px;
	}
	.works .wide,.small {
		height: 200px;
	}
	.works .tall,.large {
		height: 420px;
	}
	.wide {
		position: relative;
		top: -220px;
	}
	.b {
		position: relative;
		top: -220px;
	}
	.b > .tall{
		position: relative;
		margin-bottom: -220px;
		top: 0;
	}
	.b > .wide {
		right: -460px;
	}
}